#text1{
    margin:0 auto;

}
#aside{
    background-color: orange;
    width: 190px;
    height: 1000px;
    overflow-y: auto;
}
#naujas
{
    height: 500%;
    !important
}
#but{
    !important
}
.text{
    color:black;
}
.alertik
{
    !important
    color:black;
}
.modal-title-my{
    color:black;

}
.modal-body-my{
    color:black;
}
#blockModal
{
    background-color: red;
}


